
.theos/_/.theos/obj/.stamp

*.dylib

*.o

.theos/_/DEBIAN/control

.theos/_/Library/MobileSubstrate/DynamicLibraries/.theos/obj/.stamp

.theos/_/Library/MobileSubstrate/DynamicLibraries/MarkAsRead7.plist

.theos/fakeroot

.theos/last_package

.theos/packages/com.pigigaldi.markasread7-0.0.1-1

layout/.theos/obj/.stamp

layout/Library/MobileSubstrate/DynamicLibraries/.theos/obj/.stamp

layout/Library/MobileSubstrate/DynamicLibraries/MarkAsRead7.plist

packages/Library/MobileSubstrate/DynamicLibraries/MarkAsRead7.dylib

theos
